function max 3
    push argument 0
    push argument 1
    gt
    if-goto x_gt_y_max
    push argument 1
    push argument 2
    gt
    if-goto y_gt_z_max
    push argument 1
    return

label x_gt_y_max
    push argument 0
    push argument 2
    gt
    if-goto x_gt_z_max
    push argument 0
    return

label x_gt_z_max
    push argument 1
    push argument 2
    gt
    if-goto ret_y_max
    push argument 2
    return

label y_gt_z_max
    push argument 0
    push argument 2
    gt
    if-goto ret_x_max
    push argument 2
    return

label ret_y_max
    push argument 1
    return

label ret_x_max
    push argument 0
    return
